/**********************************
	FONTS
**********************************/
@font-face {
    font-family: 'Cafeta';
    src: url('cafeta-webfont.eot');
    src: url('cafeta-webfont.eot?iefix') format('eot'),
         url('cafeta-webfont.woff') format('woff'),
         url('cafeta-webfont.ttf') format('truetype'),
         url('cafeta-webfont.svg#webfontTdP8BVhj') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**********************************
	TYPOGRAPHY
**********************************/
body { color: #536479; font-family: "Lucida Sans Unicode", Helvetica, Arial, san-serif; font-size: 12px; line-height: 1.6em; text-shadow: #000 1px 1px; }
h1, h2, h3, h4, h5 { color: #fff; font-family: "Cafeta", Helvetica, Arial, sans-serif; text-shadow: rgba(0, 0, 0, .5) 2px 2px 3px; }
h1 { font-size: 28px; margin-bottom: 15px; }
h2 { background: url(../images/bg_header.png) no-repeat bottom; font-size: 24px; text-transform: lowercase; }
p { margin-bottom: 15px; }
small { color: #92836e; font-family: "Lucida Sans Unicode", Helvetica, Arial, san-serif; font-size: 10px; }
a { color: #7398c4; text-decoration: none; }
a:hover, a.active { color: #92836e; border-bottom: 1px dotted #7398c4; text-shadow: #000 2px 2px; }

/**********************************
	LAYOUT
**********************************/
body { background: #121212 url(../images/bg.jpg) top center no-repeat; }

#container { margin: 0 auto; width: 900px; }

/**********************************
	HEADER
**********************************/
#header { position: relative; height: 135px; }
#header .logo { position: absolute; top: 30px; left: 0px; }
#header .logo:hover { border: none; }
#header .menu { font-size: 14px; position: absolute; top: 50px; right: 0px; text-transform: lowercase; }
#header .menu li { display: block; float: left; margin-left: 25px; }
#header .menu a { background: rgba(0, 0, 0, .25) !important; display: block; padding: 8px 12px;
	background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); /* IE hack for 6-8 - first two hex digits are opacity */ }
#header .menu a:hover { background: rgba(115, 152, 196, .15) !important; color: #7398c4; }
#header .menu li.current-menu-item a { border-bottom: 1px dotted #7398c4; text-shadow: #000 1px 1px; }

/**********************************
	CONTENT
**********************************/
#slides { background: url(../images/bg_slides.png) no-repeat; float: left; overflow: none; position: relative; width: 585px; height: 320px; }
#slides .portfolio-link { background: rgba(0, 0, 0, .85) !important; padding: 10px 15px; position: absolute; bottom: 35px; left: 20px;
	background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000); /* IE hack for 6-8 - first two hex digits are opacity */ }
#slides .portfolio-link a { font-family: "Cafeta", Helvetica, Arial, sans-serif; font-size: 28px; text-shadow: rgba(0, 0, 0, .5) 2px 2px 3px; }
#slides img { display: none; position: absolute; top: 20px; left: 20px; }
#slides .active { display: block; }

#intro { background: url(../images/bg_intro.png) no-repeat 0 30px; float: right; text-indent: -9999px; width: 275px; height: 320px; }

#about { float: left; margin-top: 15px; }
#about li { float: left; width: 300px; }
#about h2 { padding: 0 15px 5px; margin-bottom: 10px; }
#about p { padding: 0 15px; }

#filters { margin: 0 35px 15px 35px; }
#filters li { float: left; }
#filters li a { margin-left: 28px; }

#portfolio li { float: left; margin: 0 0 10px 25px; }
#portfolio a { background: url(../images/bg_portfolio.png) no-repeat; display: block; padding: 12px 14px 13px 13px; width: 240px; height: 100px; }
#portfolio a:hover { background-position: 0px -125px; border-bottom: none; }

#portfolio-single { position: relative; overflow: hidden; }
#portfolio-single .screenshot { display: block; }
#portfolio-single .inner-shadow { box-shadow: inset 0 0 25px rgba(0, 0, 0, .50); -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, .50); position: absolute; top: 0px; left: 0px; }
#portfolio-single .description { background: rgba(0, 0, 0, .95) !important; padding: 15px 15px 0 15px; position: absolute; bottom: -400px; left: 0px;
	background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EE000000,endColorstr=#EE000000); /* IE hack for 6-8 - first two hex digits are opacity */ }
#portfolio-single .description .tags { padding-left: 5px; }
#portfolio-single .description .visit { position: absolute; top: 15px; right: 15px; }

#portrait { background: url(../images/bg_portrait.png) no-repeat; float: left; padding: 20px; width: 300px; height: 452px; }

#contact { float: right; width: 540px; }

/**********************************
	FOOTER
**********************************/
#footer { background: url(../images/bg_footer.png) no-repeat; font-size: 10px; padding: 15px; height: 50px; }
#footer .topLink { float: right; }

/**********************************
	FORMS
**********************************/
#contact .gform_wrapper { margin-top: 15px; }
#contact .gform_heading { margin-bottom: 0px; }
#contact .validation_error { display: none; }
#contact .gfield_error { background: none; border: none; padding: 0px!important; width: 100% !important; }
#contact .gfield_error .ginput_container { max-width: 100% !important; }
#contact .gfield_error .ginput_left { width: 50% !important; }
#contact .gfield_error .ginput_right { width: 49% !important; }
#contact .gfield_error .ginput_left input { width: 95% !important; }
#contact .gfield_error .ginput_right input { width: 96% !important; }
#contact .validation_message { color: #92836e; }
#contact label.gfield_label { color: #fff; font-family: "Cafeta", Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; text-transform: lowercase; }
#contact span.gfield_required { display: none; }
#contact input[type="text"],
#contact textarea { background: rgba(0, 0, 0, .5) !important; border: 1px solid #536479; border-radius: 3px; color: #7398c4; padding: 4px;
	background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); /* IE hack for 6-8 - first two hex digits are opacity */ }
#contact textarea,
#contact .gfield_error textarea { width: 98%; }
#contact .gform_footer { padding: 0px; }
#contact .button { background: rgba(0, 0, 0, .5) !important; border: 1px solid #536479; border-radius: 3px; color: #7398c4; cursor: pointer; font-family: "Lucida Sans Unicode", Helvetica, Arial, san-serif; font-size: 12px; padding: 4px 24px;
	background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); /* IE hack for 6-8 - first two hex digits are opacity */ }
#contact .button:hover { background: rgba(115, 152, 196, .15) !important; }
#contact .gform_edit_link { display: none; }
#contact #gforms_confirmation_message { background: none; border: none; color: #536479; margin-top: 25px; padding: 0px; text-align: left; }
#contact #gforms_confirmation_message span { color: #fff; display: block; font-family: "Cafeta", Helvetica, Arial, sans-serif; font-size: 32px; margin-bottom: 15px; text-align: center; }

/**********************************
	MISC
**********************************/
.isotope,
.isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity; }
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**********************************
	IE FIXES
**********************************/
.lte8 #portfolio li a { background-image: none; }
.lte8 #portfolio li a img { border: 3px solid #000; }
.lte8 #portfolio li a:hover img { border: 3px solid #536479; }